body {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient( 135deg , rgba(255,95,162,1) 0%,rgba(252,200,155,1) 100%);
}

.video-container {
    display: flex;
    width: 100%;
    align-items:center;
    transform: translateX(25%);
    transition: transform 0.5s ease-in-out;
}

video {
    width: 25%;
    height:25%;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5s;
    //-webkit-box-reflect: below 0 linear-gradient(transparent, white);
}

video.selected {
    width: 50%;
    opacity: 1;
}

#start {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#start.rotating {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
 }