body {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container {
    display: flex;
    width: 100%;
    //transform: translate(-25%);
}

video {
    width: 25%;
    opacity: 0.5;
    cursor: pointer;
}

video.selected {
    width: 50%;
    opacity: 1;
}

#start {
    position: absolute;
    top: 50vh;
    right: 0;
}

#change {
    position: absolute;
    top: 60vh;
    right: 0;      
}