html {
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg , rgba(255,95,162,1) 0%,rgba(252,200,155,1) 100%);
}

.video-container {
    display: flex;
    width: 100%;
    align-items:center;
    transform: translateX(25%);
    transition: transform 0.5s ease-in-out;  
    
    &.maximized video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        cursor: default;
    }
}

video {
    width: 25%;
    height:25%;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    flex-shrink: 0;
    //-webkit-box-reflect: below 0 linear-gradient(transparent, white);

    &.selected {
        width: 50%;
        opacity: 1;
    }
}

#player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 6rem;
    background: linear-gradient(90deg , rgba(255,95,162,1) 0%,rgba(252,200,155,1) 100%);

    #play-button {
        width: 4rem;
        height: 4rem;
        margin: 1rem;
        cursor: pointer;

        &.rotating {
            animation: rotating 2s linear infinite;
        }
    }

    #text-container {
        display: flex;
        height: 6rem;
        overflow: hidden;
        align-items: center;
        
        #text {
            width: fit-content;
            white-space: nowrap;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 2rem;
            color: #FFFFFF;

            &::selection {
                background: #ffc2c6; 
            }
        }
    }

    #minimize, #maximize {
        width: 2rem;
        height: 2rem;
        margin: 2rem;
        cursor: pointer;

        &.selected {
            display: none;
        }
    }
}

body.hidden #player-container,
body.hidden #left-arrow,
body.hidden #right-arrow {
    opacity: 0;
}

#left-arrow, #right-arrow {
    z-index: 20;
    position: absolute;
    width: 4rem;
    cursor: pointer;
}

#right-arrow {
    right: 1rem;
}

#left-arrow {
    left: 1rem;
}

@keyframes rotating {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media (max-width: 767px) {
    #player-container {
        #play-button {
            width: 10rem;
        }

        #maximize {
            width: 8rem;
            margin: 1rem;
        }
    }
}
